body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #fff;
}

#a {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.judul {
    margin: 0 0 0 50;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

.b {
    margin: 0 0 0 50;
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}

.c {
    width: 90%;
    height: auto;
    border-radius: 4px;
}

p {
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

footer {
    background-color: rgb(74, 131, 255);
    margin-top: 3rem;
    padding: 1rem 0 1rem;
}

footer p {
    color: white;
    text-align: center;
}